version: 2.1
jobs:
  compile:
   docker:
      - image: ubuntu:20.04
   steps:
      - run:
          no_output_timeout: 50m
          command: |
           apt-get -y update && apt-get -y upgrade && DEBIAN_FRONTEND=noninteractive apt-get -y install bc build-essential bison flex zip gcc clang libc6 curl libstdc++6 git wget libssl-dev zstd openjdk-11-jdk openjdk-11-jre && apt-get -y install python
           git clone https://github.com/predator112/STOCK_Q_kernel_whyred.git -b android-10-eas kernel
           cd kernel
           git clone https://github.com/PREDATOR-project/myscripts.git -b master
           chmod +x myscripts/gcc-setup.sh
           chmod +x myscripts/build-gcc-eas.sh
           source ./myscripts/gcc-setup.sh
           ./myscripts/build-gcc-eas.sh
workflows:
  version: 2.1
  cooking:
    jobs:
      - compile
